@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F1729;
  --foreground: #E2E8F0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1A2332;
}
::-webkit-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 3px;
}
